body {
  width: 95%;
}

p {
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
}

.msgContainer {
  border: 1px solid rgba(224, 224, 224, 1.0);
  border-radius: 4px;
  clear: both;
  max-width: 40%;
}

.msgType_sent {
  margin-left: 1.0em;
  float:left;
  background-color: rgba(248, 248, 248, 1.0);
}

.msgType_recv {
  margin-right: 1.0em;
  float:right;
  background-color: rgba(255, 255, 255, 1.0);
}

.sms_body {
  font-size: 0.6em;
  padding-right: 0.5em;
  text-align: left;
}

.sms_date {
  padding-left: 0.5em;
  text-align: right;
  font-size: 0.4em;
}

.clearDiv {
  clear: both;
}
